body {
  background-color: #ffffff;
  font-family: Arial, sans-serif; /* Set a common font family for better consistency */
}

/* Add other styles as needed */


textarea {
  width: 300px;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.button1 {
  height: 50px;
  width: 100px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #b5b5b5;
  margin-top: -10px;
  position: relative;
}

.button1:hover {
  background-color: #4a4a4a;
}

.container {
  display: flex;
  
  flex-wrap: wrap; /* Allow items to wrap to the next line if there isn't enough space */
}

.item {
  width: 130px;
  font-size: 16px;
  margin-bottom: 10px; /* Add margin between items */
}

.weekday-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

/* Add a common class for weekdays to avoid repetition */
.weekday {
  font-size: 20px;
}

.måndag { color: red; } /* Add color styling for Monday as an example */
.tisdag { color: blue; } /* Add color styling for Tuesday as an example */
.onsdag { color: green; } /* Add color styling for Wednesday as an example */
.torsdag { color: purple; } /* Add color styling for Thursday as an example */
.fredag { color: orange; } /* Add color styling for Friday as an example */

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px; /* Adjust the margin as needed */
}

.dropdown-select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  position: relative;
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 1; /* Ensure dropdown is above other elements */
  max-height: 200px; /* Adjust max-height as needed */
  overflow-y: auto; /* Enable vertical scroll if needed */
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

/* Styling for the search input */
.search-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
}
