body {
  background-color: #ffffff;
}

textarea {
  width: 300px;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.button1 {
  height: 50px;
  width: 100px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #b5b5b5;
  margin-top: -40px;
}

.button1:hover {
  background-color: #4a4a4a;
}

.item {
  width: 130px;
  font-size: 16px;
}

.weekday {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
}

/* Adjust the position as needed */


.weekday-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
